

<div id="particles-js">
  <div class="header">


    
    <h2>
      
      <span class="site-title">{{ site.username }}</span>
    </h2>
      <!-- <span class="site-description">{{ site.user_title }}</span> -->
   
<!-- <br> -->

<div class="header-links">
  <h2><a class="link" href="#about" data-scroll>About Me</a></h2>
  <!-- <a class="link" href="#projects" data-scroll>Projects</a> -->
  <!-- <a class="link" href="#trajectory" data-scroll>Trajectory</a> -->
  <h2><a class="link" href="#resume" data-scroll>Resume</a></h2>
</div>

<style>

#particles-js {
  position: cover;
  width: 100%;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/jtupayachi/jtupayachi.github.io/refs/heads/main/latex_resume/cc-bg-1.jpg');
  background-size: cover;
  background-position: center;
}

#particles-js::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha (0.5) for more or less opacity */
  pointer-events: none; /* Ensures the overlay doesn't interfere with interactions */
}

  .header-links {
    display: flex;
    gap: 20px; /* Adjust spacing between items */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
  }

  .header-links h4 {
    margin: 0; /* Remove extra margin if unnecessary */
  }

  .link {
    text-decoration: none; /* Optional: Remove underline */
    color: inherit; /* Optional: Use inherited color */
  }
</style>

<div class="header-icons">
  <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    {% if site.google_scholar %}
    <div style="flex: 1 0 48%;">
      Google Scholar
      <a aria-label="Google Scholar Profile" href="https://scholar.google.com/citations?user={{ site.google_scholar }}" style="margin-right: 10px;">
        <i class="icon fa fa-google icon-large"></i>
      </a>
    </div>
    {% endif %}
    
    {% if site.email %}
    <div style="flex: 1 0 48%;">
      Email
      <a aria-label="Send email" href="mailto:{{ site.email }}" style="margin-right: 10px;">
        <i class="icon fa fa-envelope icon-large"></i>
      </a>
    </div>
    {% endif %}
    
    {% if site.linkedin_username %}
    <div style="flex: 1 0 48%;">
      LinkedIn
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" style="margin-right: 10px;">
        <i class="icon fa fa-linkedin-square icon-large" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
    
    {% if site.github_username %}
    <div style="flex: 1 0 48%;">
      GitHub
      <a aria-label="My GitHub" target="_blank" href="https://github.com/{{ site.github_username }}" style="margin-right: 10px;">
        <i class="icon fa fa-github-alt icon-large" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
  </div>
</div>
</div>

  
 
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  
</div>

